<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header"> Welcome To Dashboard</h1>
	<table class="table table-hover">
		<thead>
     <tr>
       <th>Full Name</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
		<tbody>
			<%@students.each do |s|%>
      <tr>
        <td><%=s.full_name%></td>
        <td><%=s.email_address%></td>
        <td><%=s.phone_number%></td>
        <td><button class="btn btn-primary">Edit</button></td>
      	<td><%= button_to "Delete", student_path(s.id), :method => "delete",:class =>"btn btn-primary",data: { confirm: 'Are you sure?'} %>
      </tr>
   		<%end%>
    </tbody>
  	</table>

		
			
			
			
		
</div>
