<div class="index_content">
  <div class="row" id="row_content">
    <div class="col-sm-6"id="right_form_content">
      <h2> The fast and easy way to translate and deliver your online content
      Over 15,000 professionals waiting to translate your content in up to 30 languages.
      </h2>
      <button class="btn btn-primary btn-lg">Create A Account </button>
    </div>
    <div class="col-sm-5" id="content_img">
    </div>
  </div>
  <div class="col-sm-12">
    <h3>Features Of Online Attendance Management System</h3>
  </div>
  <div class="col-sm-4">
    <h3>Features</h3>
    <p>Excel Report Generate For Admin Excel Report Generate F Generate For Generate For Generate Foror Admin</p>
  </div>
  <div class="col-sm-4">
    <h3>Features</h3> 
    <p>Excel Report Generate F Generate For Generate For Generate Foror Admin Excel Report Generate F Generate For Generate For Generate Foror Admin</p>  
  </div>
  <div class="col-sm-4">
    <h3>Features</h3>
    <p>Excel Report Generate For Admin Excel Report Generate F Generate For Generate For Generate Foror Admin</p>
  </div>
</div>
