<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header"> Welcome To Dashboard</h1>
	<div class="alert alert-success">
    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	<%if flash[:message]%>
    	<strong><%=flash[:message]%></strong>
    	<%else%>
    	<strong>Enter Category Name to add Category</strong>
    	<%end%>
  </div>
	<div class="form-group">
	<%=form_for @category, url: {:action=>"create"}, html:{:role=>"form"} do |f|%>
		<label for="email">Full Name:</label>
		<div class="form-group">
		<%=f.text_field :name, :class=>"form_control", :id=>"email"%>
		</div>
		<div class="form-group">
		<%=f.submit("Submit", :class=>"btn btn-primary")%>
		</div>
	<%end%>
</div>
</div>
